img {
    margin:100px 100px;
    transform:rotate(0deg);
      animation-name: recycle;
  animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes recycle {
    from{transform:rotate(0deg);
    }
    to{transform:rotate(360deg);
    }
}